---
interface Props {}

const year = new Date().getFullYear();
---

<footer id="footer" class="fixed-bottom bg-dark">
	<p>
		&copy; {year} - Desenvolvido por
		<a href="https://www.linkedin.com/in/felipesantostrombini/" target="_blank">
			Felipe Trombini
		</a>
	</p>
</footer>
