---

interface Props {
	title: string;
}

//bootstrap
import '../styles/bootstrap.scss';

//custom CSS
import '../styles/custom.scss';

//schema.org
import { Schema } from "astro-seo-schema"

//dynamic data (content.json)
import content from '../data/content.json';

const { title } = Astro.props;

const { author, linkedin, github, image } = content.about;



---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		
		<title>{title}</title>

		<meta name="author" content={author} >
		<meta
			name="description"
			content="Confira meu portfólio. Desenvolvedor PHP apaixonado por desenvolvimento web e análise de dados. Experiência em rotinas empresariais, sistemas ERP e fluxos de trabalho de e-commerce em larga escala. Proficiente em PHP/Laravel, CSS, JavaScript e SQL. Aplicativos publicados na App Store e Play Store."
		>
		<meta
			name="keywords"
			content="desenvolvedor web, análise de dados, PHP, Laravel, CSS, JavaScript, SQL, e-commerce, ERP, desenvolvimento de software, aplicativos móveis, desenvolvedor frontend, desenvolvedor backend, portfólio de desenvolvedor, desenvolvimento web no Brasil, desenvolvedor freelance"
		>

		<!-- robots -->
		<meta name="robots" content="index, follow" >

		<meta name="viewport" content="width=device-width" >
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Schema.org -->
		<Schema
			item={{
				"@context": "https://schema.org",
				"@type": "Person",
				name: author,
				url: Astro.request.url,
				sameAs: [
					linkedin,
					github
				],
				image: image
			}}
		/>

	</head>
	<body>
		<slot />
		<script>
			//TODO add new scripts here
			// Import only what you need
			//import 'bootstrap/js/dist/alert';
			//import 'bootstrap/js/dist/button';
			//import 'bootstrap/js/dist/carousel';
			import 'bootstrap/js/dist/collapse';
			import 'bootstrap/js/dist/dropdown';
			//import 'bootstrap/js/dist/modal';
			//import 'bootstrap/js/dist/offcanvas';
			//import 'bootstrap/js/dist/popover';
			//import 'bootstrap/js/dist/scrollspy';
			import 'bootstrap/js/dist/tab';
			//import 'bootstrap/js/dist/toast';
			//import 'bootstrap/js/dist/tooltip';
		</script>
	</body>
</html>
<style is:global>

	

</style>
